.Rproj.user
.Rprofile
.Rhistory
.RData
.Ruserdata
.Rbuildignore
packrat/
img/
modules/
security/
data/tm.rds
data/db_siafi.rds
data/db_siafi_tg.rds
data/db_siape.rds
data/sp_cargo.rds
data/sp_jornada.rds
data/sp_quadro.rds
data/sp_rot_cargo.rds
data/sp_rot_comissao.rds
data/sp_rot_efetivo.rds
data/sp_rot_unidade.rds
data/sp_rot_vinculo.rds
data/db_avager_av.rds
data/db_avager_nt.rds
packrat/lib*/
packrat/src/
.httr-oauth
